@media(max-width: 1700px){
  /* Second Menu (CONTACT) */
  .second-menu-content > h1{
    font-size: 2.8rem;
  }
}

/* Ipad Pro and small laptops */
@media(max-width: 1366px){
  /* Navigation menu */
  .list .list-item{
    font-size: 1.5rem;
    margin-left: 50%;
  }

  .list .list-item::before{
    left: -81%;
  }

  /* Second Menu (CONTACT) */
  .second-menu-content > h1{
    font-size: 3rem;
  }

  .second-content{
    left: 25vw;
  }

  /* Second content */
  .main-title{
    font-size: 3rem;
  }
}


/* Ipad classic */
@media(max-width:1024px){
  /* Logo */
  #main-header .main-nav .main-content .image{
    position: relative;
    width: 125px;
    height: 125px;
  }

  /* Navigation menu */
  .list .list-item{
    font-size: 1.3rem;
    margin-left: 50%;
  }

  /* Second Menu (CONTACT) */
  .second-menu-content > h1{
    font-size: 2.5rem;
  }

  /* Second content */
  .main-title{
    font-size: 2.5rem;
  }

  .second-title > p{
    font-size: 0.9rem;
  }
}

/* Phones */
@media(max-width: 540px){
  /* Home-page */
  #main-header{
    flex-direction: row;
  }

  #main-header .main-nav{
    background:inherit;
    color: #fff;
    width: 35%;  
    display: flex;
    flex-direction: column;
  }

  #slider{
    width: 100vw;
  }

  /* Main nav */
  #main-header .main-nav .list{
    position: absolute;
    z-index: 50;
  }

  #main-header .main-nav .main-content{
    z-index: 55;
  }

  /* Logo */
  #main-header .main-nav .main-content .image{
    position: relative;
    width: 90px;
    height: 90px;
  }

  /* Second content */
  .main-title{
    font-size: 1.2rem;
  }

  .second-title > p{
    font-size: 0.7rem;
  }

  /* Second menu(contact) */
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10vw;
  }
}

/* Small phones Iphone se-5s... */
@media(max-width: 320px){
  /* Second content */
  .main-title{
    font-size: 1.0rem;
  }

  .second-title > p{
    font-size: 0.5rem;
  }

  /* Logo */
  #main-header .main-nav .main-content .image{
    position: relative;
    width: 75px;
    height: 75px;
  }
  
}

/* Landscape size */
@media(max-height:500px){
  /* Second content */
  .second-content{
    top: 35vh;
    left: 25vw;
  }
  
  .list .list-item{
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }

  .list .item-list{
    margin-top: 4%;
    margin-left: 10%;
  }

  .main-title{
    font-size: 2rem;
  }

  .second-title > p{
    font-size: 0.7rem;
  }

  /* Logo */
  #main-header .main-nav .main-content .image{
    position: relative;
    width: 80px;
    height: 90px;
  }


  /* Second menu(contact) */
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5vw;
  }

  .second-menu::after{
    content: '';
    height: 300%;
  }
}